.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-bottom: 30px;
  padding-top: 30px;
  background-image: linear-gradient(90deg, #443682 14.58%, #28418A 39.75%, #00669C 68.41%);
  background-color: #003f7f;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__wrap--secondary {
  display: flex;
}

.logo {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-right: 84px;
}

.logo__link {
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__link:hover, .logo__link:focus {
  transform: scale(1.05);
}

.logo__description--name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #FFFFFF;
}

.logo__description--text {
  font-size: 18px;
  line-height: 1.17;
  color: #FFFFFF;
}

.social__list {
  display: flex;
  gap: 11px;
  align-items: center;
}

.social__instagram {
  fill: #ff4e0e;
}

.sosial__link {
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}
.sosial__link:hover, .sosial__link:focus {
  transform: scale(1.2);
}

.social {
  display: flex;
  align-items: center;
  gap: 15px;
}

.call__logo {
  fill: #ffffff;
}

.call__link {
  font-size: 15px;
  line-height: 1.2;
  color: #ffffff;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.call__link:hover, .call__link:focus {
  text-shadow: 1px 1px 2px black, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
}

.call__btn {
  min-width: 161px;
  height: 44px;
  font-size: 15px;
  line-height: 1.2;
  color: #ffffff;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: transparent;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.call__btn:hover, .call__btn:focus {
  box-shadow: 1px 1px 2px black, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__list {
  display: inline-flex;
  justify-content: space-between;
  gap: 63px;
  padding-left: 63px;
  padding-right: 63px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
}

.nav__link {
  padding-top: 31px;
  padding-bottom: 31px;
  font-size: 16px;
  line-height: 1.19px;
  color: #000000;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #00669C;
}

.nav__item:first-child {
  padding-left: 63px;
}

.nav__item:last-child {
  padding-right: 63px;
}

.current {
  font-weight: 700;
  text-decoration: underline;
}

.hero {
  height: 915px;
  background-image: url(../../images/curve-min.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-secondary {
  margin-top: 174px;
  padding-top: 15px;
  padding-bottom: 415px;
  background-image: url(../../images/man-min.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-secondary__title {
  font-size: 39px;
  line-height: 1.18;
  color: #FFFFFF;
  margin-bottom: 41px;
}

.hero-secondary__item {
  font-size: 20px;
  line-height: 1.19;
  color: #FFFFFF;
}

.hero-secondary__list {
  margin-bottom: 41px;
  padding-left: 0;
  margin-left: 23px;
}

.hero-secondary__btn {
  min-width: 250px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19px;
  color: #FFFFFF;
  border: none;
  background-color: #00BB34;
  border-radius: 10px;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1), 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-secondary__btn:hover, .hero-secondary__btn:focus {
  box-shadow: 1px 1px 2px black, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  border: 1px solid #ffffff;
}

.services__container {
  margin-top: 87px;
  margin-bottom: 153px;
  display: flex;
  justify-content: center;
}

.services__list {
  width: 1162px;
  display: flex;
  gap: 38px;
}

.services__item {
  width: calc((100% - 144px) / 3);
  padding-top: 54px;
  padding-bottom: 62px;
  text-align: center;
  background: linear-gradient(180deg, #A6DBF5 0%, #451874 97.92%);
  border-radius: 28px;
}

.services__logo {
  fill: #FF5C00;
}

.services__text {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  color: #FFFFFF;
}

.service__logo--thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 97px;
  margin-bottom: 31px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.answers {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  max-width: 1920px;
  padding-top: 302px;
  padding-bottom: 351px;
  background-image: url(../../images/washing-min.jpg), url(../../images/star-min.png);
  background-repeat: no-repeat;
  background-position: left 0 top 80px, center;
  background-size: 960px, cover;
}

.answer__block {
  margin-left: auto;
  width: 570px;
}

.answer__title {
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.19;
  color: #000000;
}

.answer__text {
  font-size: 15px;
  line-height: 1.19;
  margin-bottom: 35px;
}

.answer__btn:hover, .answer__btn:focus {
  box-shadow: 1px 1px 2px black, 0 0 1em #00BB34, 0 0 0.2em #00BB34;
  border: 1px solid #00BB34;
}

.reviews {
  padding-bottom: 137px;
}

.reviews__container {
  background-image: url(../../images/stars-min.png);
  background-repeat: no-repeat;
  background-position: top 0 left 0;
}

.rewiews__wrapper {
  width: 1173px;
  margin-left: auto;
  margin-right: auto;
}

.reviews__title {
  padding-top: 86px;
  margin-bottom: 22px;
  font-size: 28px;
  line-height: 1.18;
  color: #000000;
}

.reviews__text {
  margin-bottom: 80px;
  font-size: 25px;
  line-height: 1.16;
  color: #000000;
}

.reviews__list {
  display: flex;
  gap: 27px;
}

.reviews-card {
  flex-basis: calc((100% - 54px) / 3);
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 42px;
}

.reviews-card__name {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #000000;
}

.reviews-card__date {
  font-size: 16px;
  line-height: 1.19;
  color: #585858;
}

.reviews-card__review {
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  padding: 26px;
}

.reviews-card__wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
  padding-top: 49px;
}

.reviews-card__wrap {
  display: flex;
  gap: 8px;
}

.reviews-card__data {
  position: relative;
  margin-left: 126px;
}

.reviews-card__data::before {
  content: " ";
  display: block;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  position: absolute;
  top: -18px;
  left: 0;
  transform: translateX(calc(-100% - 13px));
}

.reviews-card:first-child .reviews-card__data::before {
  background-image: url(../../images/feed-01.png);
}

.reviews-card:nth-child(2) .reviews-card__data::before {
  background-image: url(../../images/feed-02.png);
}

.reviews-card:last-child .reviews-card__data::before {
  background-image: url(../../images/feed-03.png);
}

.reviews-card__link {
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews-card__link:hover, .reviews-card__link:focus {
  transform: scale(1.2);
}

.footer {
  padding-top: 73px;
  padding-bottom: 74px;
  background-color: #000000;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.footer__text--big {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #bbddff;
}

.footer__text--small {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #bbddff;
}

.call__logo--footer {
  fill: #bbddff;
}

.call__link--footer {
  color: #bbddff;
}

.call__btn--footer {
  color: #bbddff;
  border: 1px solid #bbddff;
}/*# sourceMappingURL=main.css.map */