$bg-btn:#00BB34;
$bg-white:#FFFFFF;
$bg-footer:#000000;
$text-white:#FFFFFF;
$text-black:#000000;
$color-accent:#00669C;
$color-accent-light:#bbddff;
$services-logo:#FF5C00;
$color-data: #585858;

$timing-function:cubic-bezier(0.4, 0, 0.2, 1);