.answer__wrupper {
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
  height: 887px;
  background-image: url(../../images/washing-min.jpg),
    url(../../images/star-min.png);
  background-repeat: no-repeat;
  background-position: left 0 top 80px, center;
}
.answer__block {
  margin-left: 1050px;
  margin-right: 300px;
  padding-top: 302px;
}
.answer__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.19;
  color: $text-black;
  margin-bottom: 35px;
}
.answer__text {
  font-size: 15px;
  line-height: 1.19;
  margin-bottom: 35px;
}
