.header{
    padding-bottom: 30px;
    padding-top: 30px;
background-image: linear-gradient(90deg,
    #443682 14.58%,
    #28418A 39.75%,
    #00669C 68.41%);
    background-color: #003f7f
    ;
}
.header__wrap{
display: flex;
justify-content: space-between;
}
.header__wrap--secondary {
    display: flex;
}