.hero {
  height: 915px;
  background-image: url(../../images/curve-min.png);
  background-repeat: no-repeat;
  background-position: center;
//   background-size: contain;
}

.hero-secondary {
  margin-top: 174px;
  padding-top: 15px;
  padding-bottom: 415px;
  background-image: url(../../images/man-min.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-secondary__title {
  font-size: 39px;
  line-height: 1.18;
  color: $text-white;
  margin-bottom: 41px;
}
.hero-secondary__item {
  font-size: 20px;
  line-height: 1.19;
  color: $text-white;
}
.hero-secondary__list {
  margin-bottom: 41px;
  padding-left: 0;
  margin-left: 23px;
}

