.nav {
  display: flex;
  justify-content: center;
}
.nav__list {
  display: inline-flex;
  justify-content: space-between;
  gap: 63px;
  padding-left: 63px;
  padding-right: 63px;

  background-color: $bg-white;
  border: 1px solid $text-black;
  border-radius: 0px 0px 20px 20px;
}
.nav__link {
  padding-top: 31px;
  padding-bottom: 31px;

  font-size: 16px;
  line-height: 1.19px;
  color: $text-black;
  font-weight: 500;
  transition: color 250ms $timing-function;

  &:hover,&:focus{
    color: $color-accent;
   font-weight: 800;
  }
}
.nav__item:first-child {
  padding-left: 63px;
}
.nav__item:last-child {
  padding-right: 63px;
}
.current{
  font-weight: 700;
  text-decoration: underline;
}