.reviews__container {
  background-image: url(../../images/stars-min.png);
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  outline: 1px solid tomato;
}
.rewiews__wrapper {
  width: 1173px;
  outline: 1px solid tomato;
  margin-left: auto;
  margin-right: auto;
}

.reviews__title {
  padding-top: 86px;
  margin-bottom: 22px;
  font-size: 28px;
  line-height: 1.18;
  color: $text-black;
}

.reviews__text {
  margin-bottom: 80px;
  font-size: 25px;
  line-height: 1.16;
  color: $text-black;
}
.reviews__list {
  display: flex;
  gap: 27px;
}

.reviews-card {
  flex-basis: calc((100% - 54px) / 3);
  outline: 1px solid green;
}
.reviews-card__name {
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: $text-black;
}

.reviews-card__date {
  font-size: 16px;
  line-height: 1.19;
  color: $color-data;
}
.reviews-card__review {
  font-size: 20px;
  line-height: 1.3;
  color: $text-black;
}
.reviews-card__wrapper{
display: flex;
margin-bottom: 27px;
}
// .reviews-card__wrap{

// }